{# app/Resources/views/Frontend/layout.html.twig #}

{% extends 'AdminBundle::layout.html.twig' %}

{% block menulist %}
    <ul>
        <li><a>BOOK</a></li>
        <li><a>USER</a></li>
    </ul>
{% endblock %}
