{# app/Resources/views/Frontend/layout.html.twig #}

{% extends 'FrontEndBundle::layout.html.twig' %}

{% block menulist %}
    <ul>
        <li><a>HOME</a></li>
        <li><a>ABOUT</a></li>
        <li><a>CONTACT</a></li>
    </ul>
{% endblock %}
